<!DOCTYPE html>
<html>
<head>
  <title>Checklo!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- bootstrap in the current user -->
  <script type="application/json" id="bootstrapped-user">
    <%= { current_user: current_user }.to_json.html_safe %>
  </script>
  
</head>

<body>
	<% if user_signed_in? %>
    <%= "Logged in as " + current_user.username %>
    <%= button_to "Sign Out", destroy_user_session_url, :method => "delete" %>
	<% else %>
    <%=link_to "Sign Up", new_user_registration_url %>
    <%=link_to "Sign In", new_user_session_url %>
  <% end %>    
    
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>


<%= yield %>


<% unless user_signed_in? %>
  <form action="<%= user_session_url %>" method="post" accept-charset="utf-8">
    <input type="hidden" name="authenticity_token" value="form_authenticity_token">
  
    <input type="hidden" name="user[username]" value="Guest of Honor" id="guest-username">
  
    <input type="hidden" name="user[password]" value="honorableguest" id="guest[password]">

    <p><input type="submit" value="Demo Account"></p>
  </form>
<% end %>
  

</body>
</html>
